:root{
    --blanco: #FFFFFF;
    --negro: #000000;
    --primario: #a08d53;
    --dorado: #e0c675;
    --secundario: #c4bfbf;
    --negro-claro: #181818;
    --amarillo-claro: #dbd3b9;
}

html{
    background-color: var(--negro);
}

/*imagen principal*/
.contenido-imagen{
    padding: 0rem 2rem;
    position: absolute;
    /* inset: 0; */

    /* background-color: rgba(0, 0, 0, .7); */
    /* box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 1); */

    height: 100%;
    width: 97%;

}

.imagen-principal{
    background-image: 
    linear-gradient(to left, transparent 0%, var(--negro) 80%),
    url(./image-principal.jpg);
    /* background-image: linear-gradient(to left, var(--blanco) 0%, var(--negro) 70%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 800px;

    position: relative;
}

@media (max-width: 768px) {
    .imagen-principal{
        width: 470px;
        height: 900px;
    }
}

/*navegación*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.icono{
    color: var(--primario);
    height: 180px;
}

.logo-texto {
    display: flex;
    flex-direction: column; /* apila h2 y h4 en columna */
    text-transform: uppercase;
    color: var(--primario);
}

.logo-texto h4 {
    margin-top: 0; 
    text-align: center;
}

.navegacion{
    display: flex;
    margin-left: auto;
}

.navegacion nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navegacion a{
    text-decoration: none;
    font-weight: bold; 
    padding: 1rem;
    text-align: center;
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    padding: 0rem 3rem;
}

/*navegacion*/
@media (max-width: 480px) {
    
    header{
        display: block;
        align-items: center;
        position: static;
        text-align: center;
        margin-right: 2rem;
  }
    
    .navegacion {
        display: block;
        align-items: center;
        position: static; 
  }

    .navegacion nav {
        position: static;      
        left: auto;
        transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;    
    }

    .boton {
        margin-top: 2rem;      
        width: 80%;
        max-width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}
/*......*/

.boton{
    text-transform: uppercase;
    font-size: 0.7rem;
    color: var(--primario);
    background: var(--negro);
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid var(--primario);
    border-radius: 0.4rem;
    display: block;
    margin: 0 auto;
}
/*....*/

/*contenido*/
.contenido{
    padding: 0rem 1rem;
}

.subtitulo{
    text-transform: uppercase;
    color: var(--primario);
    font-size: 0.8rem;
}

.titulo{
    color: var(--blanco);
    font-size: 4rem;
    margin: 0;
}

.titulo2{
    color: var(--dorado);
    font-size: 4rem;
    margin: 0;
}

.parrafo{
    color: var(--secundario);
}

.parrafo span{
    display: block;
    margin-top: 1rem;
}

.boton-explore{
    text-transform: uppercase;
    background: var(--dorado);
    font-weight: bold;
    padding: 0.8rem 1rem;
    font-size: 0.7rem;
    border-radius: 0.4rem;
}

.boton-watch{
    text-transform: uppercase;
    background: var(--negro);
    font-weight: bold;
    padding: 0.8rem 2rem;
    font-size: 0.7rem;
    border-radius: 0.4rem;
    border: 1px solid var(--primario);
    color: var(--blanco);
}

/*contenido luxury redefined*/
@media (max-width: 768px) {
    .contenido{
        display: block;
        align-items: center;
        text-align: center;
        margin-right: 2rem;
    }
}

/*premium*/
.premium{
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
}

.subtitulo1{
    color: var(--blanco);
    margin-top: 3rem;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.subtitulo2{
    color: var(--blanco);
    /* margin-bottom: 0.8rem; */
    font-size: 2rem;
    margin: 0;
}

/*icono de dinero*/
.icon{
    color: var(--dorado);
    margin-top: 3rem;
    margin-right: 0.8rem;
}

/*icono de nota*/
.icon2{
    color: var(--dorado);
    margin-top: 0.5rem;
}

/*luxury*/
.luxury{
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
}

/*happy*/
.happy{
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
}

.contenido1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 30%;
}

/*premium, luxury, happy*/
@media (max-width: 768px) {
    .contenido1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 7rem;
    }
}

/*experience excellence*/
.experiencia{
    color: var(--primario);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.titulo-premium{
    color: var(--blanco);
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.parrafo-premium{
    color: var(--secundario);
    text-align: center;
}

.parrafo-premium span{
    display: block;
    margin-top: 1rem;
}

/*experiencia excellence*/
@media (max-width: 768px) {
    .experiencia-p{
        display: block;
        margin-top: 28rem;
        text-align: center;
        margin-left: 7rem;
    }

    .parrafo-premium{
        margin-left: 7rem;
    }

}

/*Cajas Premium, Certidied, Concierge, Aftercare*/
.caja{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-top: 5rem; */
    /* padding-top: 5rem; */
}

.caja1{
    background-color: var(--negro-claro);
    margin-right: 0.1rem;
    margin-left: 10rem;
    padding: 0rem 2rem;
}

.caja2{
    background-color: var(--negro-claro);
    margin-right: 3rem;
    margin-left: 4rem;
    padding: 0rem 4rem;
}

.caja3{
    background-color: var(--negro-claro);
    margin-right: 5rem;
    margin-left: 2rem;
    padding: 0rem 4rem;
}

.caja4{
    background-color: var(--negro-claro);
    margin-right: 10rem;
    margin-left: 0rem;
    padding: 0rem 2rem;
}

.caja h4{
    color: var(--blanco);
    font-size: 1.3rem;
    margin-top: 0.4rem;
}

.caja p{
    color: var(--secundario);
    font-size: 1.1rem;
}

.caja span{
    display: block;
    margin-top: 0.5rem;
}

/*Cajas Premium, Certidied, Concierge, Aftercare*/
@media (max-width: 768px) {
    .caja{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 7rem; 
    }

    .caja1, .caja2, .caja3, .caja4{
        margin: 1rem; 
    }

    .caja2, .caja3{
        padding-left: 2rem;
    }
}

/*colleccion de carros*/
.collection{
    display: flex;
    align-items: flex-end;  /* alinea al fondo, donde está el título */
    justify-content: space-between;
    margin: 1rem 9rem; 
}

.collection h4{
    text-transform: uppercase;
    color: var(--primario);
    font-weight: bold;
    text-align: center;
    width: 460px;
}

.collection h3{
    color: var(--blanco);
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0; 
    text-align: left;
}

.boton-inventario{
    text-transform: uppercase;
    font-size: 0.7rem;
    color: var(--primario);
    padding:  0rem 1rem;
}

.carros{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    align-items: center;
    margin: 1rem 6rem; 
}

.imagen-aston{
    background-image: 
    linear-gradient(to bottom, transparent 0%, var(--negro) 85%),
    url(./imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;

    height: 200px;
    width: 900px;
    margin-right: 3rem;
}

.icon-corazon{
    color: var(--blanco);
    margin-right: 4rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.icon-corazon1{
    color: var(--blanco);
    margin-left: 18.4rem;
}

.modelo-precio{
    display: flex;
    align-items: flex-end; 
    justify-content: space-between;
    margin: 0rem 1rem;
}

.titulo-carro{
    color: var(--blanco);
    margin-top: 9rem;
    margin-bottom: 0;
    font-size: 1.3rem; 
}

.precio-carro{
    color: var(--primario);
    display: block;
    text-align: right; 
    margin: 0; 
    font-size: 1.3rem;
}

main h5{
    color: var(--secundario);
    margin-right: 2.5rem;
}

.icon-carro{
    color: var(--primario);
}

.calidad-carro{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    /* margin: 0rem 0.7rem; */
    margin-right: 0.1rem;
    margin-left: 2rem;
    font-size: 1.2rem;
}

/*linea de la parte de arriba del boton*/
.linea{
    color: var(--amarillo-claro);
    font-size: 0.3rem;
    margin: 0rem 1rem;
}

.boton1{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0rem 2rem;
}

.boton-carro{
    color: var(--primario);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    margin-right: 9rem;
}

.flecha-boton{
    color: var(--primario);
    margin-left: 9rem;
}

/*imagen del carro rolls*/
.imagen-rolls{
    background-image: 
    linear-gradient(to bottom, transparent 0%, var(--negro) 85%),
    url(./imagen2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;

    height: 200px;
    width: 900px;
    margin-right: 3rem;
}

/*imagen del carro ferrari*/
.imagen-ferrari{
    background-image: 
    linear-gradient(to bottom, transparent 0%, var(--negro) 85%),
    url(./imagen3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;

    height: 200px;
    width: 900px;

}

/*coleccion de carros*/
@media (max-width: 768px) {
    .collection{
        display: block;
        text-align: center;
        margin: 0;
    }

    .carros{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        margin: 1rem auto;
    }

    .imagen-aston{
        width: 430px; 
        margin-right: 7rem;
    }

    .imagen-rolls{
        margin-top: 13rem;
        width: 430px; 
        margin-right: 7rem; 
    }

    .imagen-ferrari{
        margin-top: 13rem;
        width: 430px;
        margin-right: 7rem;  
    }

    .linea{
        margin: 0rem 1rem;
        letter-spacing: -0.3px; /*para reducir lineas*/
    }

}

/*parte final*/
.imagen-final{
     background-image: url(./imagen-final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 300px;
}

.imagen-final h2{
    color: var(--blanco);
    text-align: center;
    margin-top: 13rem; 
}

.caja-final{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.icon-final{
    color: var(--primario);
}

.titulo-final{
    color: var(--blanco);
    font-size: 1rem;
}

.parrafo-final{
    color: var(--secundario);
}

.parrafo-final span{
    display: block;
    margin-top: 0.5rem;
}

/*parte final*/
@media (max-width: 768px) {
    
    .imagen-final{
        width: 470px;
        height: 900px;
    }
    
    .imagen-final h2{
        text-align: center;
    }

    .caja-final{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .cuadro-final, .cuadro-final1, .cuadro-final2, .cuadro-final3{
        margin-top: 1rem;
    }

    .footer{
        margin-left: 7rem;
        text-align: center;
    }
}

/*el footer*/
.footer{
    text-align: center;
    color: var(--blanco);
}
